[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
schedule = "*"
datetime = "*"

[dev-packages]
pylint = "*"
jedi = "*"

[requires]
python_version = "3.9"
